@import "tailwindcss";


.cursor {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.cursor-caret {
  position: relative;
  z-index: 10;
  pointer-events: none;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.tippy-box[data-theme~='light'] {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
